!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "RailsTuto"
    %meta{content: content_for?(:description) ? yield(:description) : "Rails Bootstrap", name: "description"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      %nav.container
        .container
          = render 'layouts/navigation'
    .container
      .starter-template
        = render 'layouts/messages'
        = yield
        %footer