<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "RailsTuto" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <nav class="container">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</div>
<div class="container">
    <div class="starter-template">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <footer>
      </footer>
    </div>
</div>
</body>
</html>